<%= form_with(model: carrier, local: true) do |form| %>
  <% if carrier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carrier.errors.count, "error") %> prohibited this carrier from being saved:</h2>

      <ul>
      <% carrier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="medium-6 columns">
      <h4>Company Details</h4>
  
      <%= form.label :name, "Name of the Company" %>
      <%= form.text_field :name, id: :carrier_name %>
  
      <%= form.label :address %>
      <%= form.text_area :address, id: :carrier_address %>

      <%= form.label :reg_date, "Registration Date" %>
      <%= form.date_select :reg_date, id: :carrier_reg_date %>

      <%= form.label :owner_name %>
      <%= form.text_field :owner_name, id: :carrier_owner_name %>

      <%= form.label :org_type, "Organisation Type" %>
      <%= form.text_field :org_type, id: :carrier_org_type %>

      <%= form.label :PAN, "PAN" %>
      <%= form.text_field :PAN, id: :carrier_PAN %>

      <%= form.label :ST_num, "Service Tax No." %>
      <%= form.text_field :ST_num, id: :carrier_ST_num %>

      <%= form.label :incorporation_date, "Date of Incorporation" %>
      <%= form.date_select :incorporation_date, id: :carrier_incorporation_date, class: "hello" %>

      <%= form.label :CIN, "CIN" %>
      <%= form.text_field :CIN, id: :carrier_CIN %>
    </div>

    <div class="medium-6 columns">
      <h4>Point of Contact</h4>
      <%= form.label :PoC, "Name" %>
      <%= form.text_field :PoC, id: :carrier_PoC %>
      <%= form.label :phone %>
      <%= form.text_field :phone, id: :carrier_phone %>
      <%= form.label :email %>
      <%= form.text_field :email, id: :carrier_email, disabled: :disabled %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
