<p id="notice"><%= notice %></p>

<table>
<tr>
  <th>Parameter</th>
  <th>Value</th>
</tr>
<tr>
  <td><strong>Name:</strong></td>
  <td><%= @carrier.name %></td>
</tr>

<tr>
  <td><strong>Poc:</strong></td>
  <td><%= @carrier.PoC %></td>
</tr>

<tr>
  <td><strong>Address:</strong></td>
  <td><%= @carrier.address %></td>
</tr>

<tr>
  <td><strong>Phone:</strong></td>
  <td><%= @carrier.phone %></td>
</tr>

<tr>
  <td><strong>Email:</strong></td>
  <td><%= @carrier.email %></td>
</tr>

<tr>
  <td><strong>Reg date:</strong></td>
  <td><%= @carrier.reg_date %></td>
</tr>

<tr>
  <td><strong>Owner name:</strong></td>
  <td><%= @carrier.owner_name %></td>
</tr>

<tr>
  <td><strong>Org type:</strong></td>
  <td><%= @carrier.org_type %></td>
</tr>

<tr>
  <td><strong>Pan:</strong></td>
  <td><%= @carrier.PAN %></td>
</tr>

<tr>
  <td><strong>St num:</strong></td>
  <td><%= @carrier.ST_num %></td>
</tr>

<tr>
  <td><strong>Incorporation date:</strong></td>
  <td><%= @carrier.incorporation_date %></td>
</tr>

<tr>
  <td><strong>Cin:</strong></td>
  <td><%= @carrier.CIN %></td>
</tr>
</table>

<%= link_to 'Edit', edit_carrier_path(@carrier), class: "button" %>
<%= link_to 'Back', carriers_path, class: "button" %>
