<p id="notice"><%= notice %></p>

<table>
<tr>
  <th>Parameter</th>
  <th>Value</th>
</tr>
<tr>
  <td><strong>Company Name:</strong></td>
  <td><%= @carrier.name %></td>
</tr>

<tr>
  <td><strong>Name of Point of Contact:</strong></td>
  <td><%= @carrier.PoC %></td>
</tr>

<tr>
  <td><strong>Address:</strong></td>
  <td><%= @carrier.address %></td>
</tr>

<tr>
  <td><strong>Phone:</strong></td>
  <td><%= @carrier.phone %></td>
</tr>

<tr>
  <td><strong>Email:</strong></td>
  <td><%= @carrier.email %></td>
</tr>

<tr>
  <td><strong>Registration Date:</strong></td>
  <td><%= @carrier.reg_date %></td>
</tr>

<tr>
  <td><strong>Name of Owner:</strong></td>
  <td><%= @carrier.owner_name %></td>
</tr>

<tr>
  <td><strong>Organisation Type:</strong></td>
  <td><%= @carrier.org_type %></td>
</tr>

<tr>
  <td><strong>PAN:</strong></td>
  <td><%= @carrier.PAN %></td>
</tr>

<tr>
  <td><strong>Service Tax no.:</strong></td>
  <td><%= @carrier.ST_num %></td>
</tr>

<tr>
  <td><strong>Date of Incorporation:</strong></td>
  <td><%= @carrier.incorporation_date %></td>
</tr>

<tr>
  <td><strong>CIN:</strong></td>
  <td><%= @carrier.CIN %></td>
</tr>
</table>

<%= link_to 'Edit', edit_carrier_path(@carrier), class: "button" %>
<%= link_to 'Back', carriers_path, class: "button" %>
