<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th>Parameter</th>
		<th>Value</th>
	</tr>
	<tr>
		<td><b>Name</b></td>
		<td><%= @admin.name %></td>
	</tr>
	<tr>
		<td><b>Phone</b></td>
		<td><%= @admin.phone %></td>
	</tr>
	<tr>
		<td><b>Email</b></td>
		<td><%= @admin.email %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_admin_path(@admin), class: "button" %>
<%= link_to 'Back', admin_dash_path, class: "button" %>