<h1>Listing requests</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Required date</th>
    <!-- <th>Service level</th> -->
    <th>Source</th>
    <th>Destination</th>
    <th>Actions</th>
  </tr>
  
  <% @requests.each do |request| %>
  <tr>
    <td><%= request.id %></td>
    <td><%= request.reqd_date %></td>
    <td><%= request.source %></td>
    <td><%= request.destination %></td>
    <td><%= link_to 'Show', request_path(request) %> |
      <%= link_to 'Edit', edit_request_path(request) %> |
      <%= link_to 'Destroy', request_path(request),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Create request', new_request_path, class: "button" %>