<ul class="breadcrumbs">
  <li>Step 1</li>
  <li class="disabled">Step 2</li>
  <li class="disabled">Step 3</li>
  <li class="disabled">Step 4</li>
</ul>

<%= simple_form_for @request_wizard, as: :request_wizard, url: validate_step_wizard_path do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag :current_step, 'step1' %>

  <%= f.input :source %>

  <%= f.label :carrier_id %>
  <%= f.select :carrier_id, Carrier.all.collect {|p| [p.name, p.id]} %>

  <%= f.label :shipper_id %>
  <%= f.select :shipper_id, Shipper.all.collect {|p| [p.name, p.id]} %>

  <%= f.submit 'Continue' %>
<% end %>
