<ul class="breadcrumbs">
  <li><%= link_to "Step 1", step1_wizard_path %></li>
  <li><%= link_to "Step 2", step2_wizard_path %></li>
  <li>Step 3</li>
  <li class="disabled">Step 4</li>
</ul>

<%= simple_form_for @request_wizard, as: :request_wizard, url: validate_step_wizard_path do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag :current_step, 'step3' %>
  <%= f.input :phone_src %>
  <%= f.input :phone_dest %>

  <%= f.submit 'Continue' %>
<% end %>
