<ul class="breadcrumbs">
	<li><%= link_to "Step 1", step1_wizard_path %></li>
	<li>Step 2</li>
	<li class="disabled">Step 3</li>
	<li class="disabled">Step 4</li>
</ul>

<%= simple_form_for @request_wizard, as: :request_wizard, url: validate_step_wizard_path do |f| %>
<%= f.error_notification %>

<%= hidden_field_tag :current_step, 'step2' %>
<div class="row">
	<div class="medium-6 columns end">
		<h4>Load Weight: <%= @request_wizard.load_weight %> MT</h4>
		<h4>Available Trucks:</h4>
		<table>
			<tr>
				<th>Reg. num.</th>
				<th>Load Capacity</th>
				<th>Carrier</th>
			</tr>
			<% Truck.where("load_capacity > ?", @request_wizard.load_weight).find_each do |truck| %>
				<tr>
					<td><%= truck.registration_num.upcase %></td>
					<td><%= truck.load_capacity %></td>
					<td><%= Carrier.find(truck.carrier_id).name %></td>
				</tr>
			<% end %>
		</table>
		<%= f.label :carrier_id, 'Select the truck' %>
		<%= f.select :carrier_id, Truck.where("load_capacity > ?", @request_wizard.load_weight).collect {|p| [p.registration_num.upcase, p.carrier_id]} %>
	</div>
</div>
<div class="row columns">
	<%= f.submit 'Continue', class: "button" %>
</div>

<% end %>