<ul class="breadcrumbs">
	<li><%= link_to "Step 1", step1_wizard_path %></li>
	<li>Step 2</li>
	<li class="disabled">Step 3</li>
	<li class="disabled">Step 4</li>
</ul>

<%= simple_form_for @request_wizard, as: :request_wizard, url: validate_step_wizard_path do |f| %>
<%= f.error_notification %>

<%= hidden_field_tag :current_step, 'step2' %>
<h4>Contact Person</h4>
<div class="row">
	<div class="medium-4 columns">
		<h4>Source</h4>
		<%= f.input :poc_src, label: 'Name' %>
		<%= f.input :phone_src, label: 'Phone' %>
		<%= f.input :email_src, label: 'Email' %>
	</div>

	<div class="medium-4 columns end">
		<h4>Destination</h4>
		<%= f.input :poc_dest, label: 'Name' %>
		<%= f.input :phone_dest, label: 'Phone' %>
		<%= f.input :email_dest, label: 'Email' %>
	</div>
</div>
<div class="row columns">
	<%= f.submit 'Continue', class: "button" %>
</div>

<% end %>