<h1>Shipper Dashboard</h1>

<h2>Request List</h2>
 
<table>
  <tr>
    <th>ID</th>
    <th>Required date</th>
    <th>Service level</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Actions</th>
  </tr>
 
  <% @requests.each do |request| %>
    <tr>
      <td><%= request.id %></td>
      <td><%= request.reqd_date %></td>
      <td><%= request.service_lvl %></td>
      <td><%= request.source %></td>
      <td><%= request.destination %></td>
      <td><%= link_to 'Show', request_path(request), class: "button" %>
      <%= link_to 'Edit', edit_request_path(request), class: "warning button" %>
      <%= link_to 'Destroy', request_path(request),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "alert button" %></td>
    </tr>
  <% end %>
</table>