<h1>Shipper Dashboard</h1>

<div class="row">
  <div class="medium-12 columns callout">
    <h2 class="small-10 columns">List of Requests</h2>
    <%= link_to 'Add Request', new_request_path, class: "button small-2 columns" %>
    <table>
      <tr>
        <th>ID</th>
        <th>Required date</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Truck</th>
        <th>Action</th>
      </tr>

      <% @requests.each do |request| %>
      <tr>
        <td><%= request.id %></td>
        <td><%= request.reqd_date %></td>
        <td><%= request.source %></td>
        <td><%= request.destination %></td>
        <td><%= link_to request.truck_data.registration_num, truck_path(request.truck_data) %></td>
        <td><%= link_to 'Show', request_path(request) %> |
            <%= link_to 'Edit', edit_request_path(request) %> |
            <%= link_to 'Delete', request_path(request),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>