<%= form_with(model: driver, local: true) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="medium-4 columns">
    <%= form.label :name %>
    <%= form.text_field :name, id: :driver_name %>

    <%= form.label :phone %>
    <%= form.text_field :phone, id: :driver_phone %>

    <%= form.label :email %>
    <%= form.text_field :email, id: :driver_email %>
  </div>
  <div class="medium-4 columns">
    <%= form.label :DL, "Driving License no." %>
    <%= form.text_field :DL, id: :driver_DL %>

    <%= form.label :DL_issue_date, "Issue Date" %>
    <%= form.date_select :DL_issue_date, id: :driver_DL_issue_date %>

    <%= form.label :DL_expiry, "Expiry Date" %>
    <%= form.date_select :DL_expiry, id: :driver_DL_expiry %>
  </div>
  <div class="medium-4 columns">
    <%= form.label :address %>
    <%= form.text_area :address, id: :driver_address %>

    <%= form.label :DOB, "Date of Birth" %>
    <%= form.date_select :DOB, id: :driver_DOB %>

    <%= form.label "Blood Group" %>
    <%= form.select :blood_group, options_for_select(['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-']), id: :driver_blood_group %>
  </div>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
