<table>
  <thead>
    <tr>
      <th>Driving License no.</th>
      <!-- <th>Issue Date</th> -->
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <!-- <th>Address</th> -->
      <!-- <th>Date of Birth</th> -->
      <th>Blood Group</th>
      <!-- <th>Expiry Date</th> -->
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% drivers.each do |driver| %>
      <tr>
        <td><%= driver.DL %></td>
        <!-- <td><%= driver.DL_issue_date %></td> -->
        <td><%= driver.name %></td>
        <td><%= driver.phone %></td>
        <td><%= driver.email %></td>
        <!-- <td><%= driver.address %></td> -->
        <!-- <td><%= driver.DOB %></td> -->
        <td><%= driver.blood_group %></td>
        <!-- <td><%= driver.DL_expiry %></td> -->
        <td><%= link_to 'Show', driver %> |
        <%= link_to 'Edit', edit_driver_path(driver) %> |
        <%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>