<p id="notice"><%= notice %></p>

<h1>Drivers</h1>

<table>
  <thead>
    <tr>
      <th>Driving License no.</th>
      <!-- <th>Issue Date</th> -->
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <!-- <th>Address</th> -->
      <th>Date of Birth</th>
      <th>Blood Group</th>
      <!-- <th>Expiry Date</th> -->
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.DL %></td>
        <!-- <td><%= driver.DL_issue_date %></td> -->
        <td><%= driver.name %></td>
        <td><%= driver.phone %></td>
        <td><%= driver.email %></td>
        <!-- <td><%= driver.address %></td> -->
        <td><%= driver.DOB %></td>
        <td><%= driver.blood_group %></td>
        <!-- <td><%= driver.DL_expiry %></td> -->
        <td><%= link_to 'Show', driver, class: "button" %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver), class: "warning button" %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' }, class: "alert button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driver', new_driver_path, class: "button" %>
