<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
		<li><%= link_to "EffiFrei", root_path %></li>
		<% if carrier_signed_in? %>
			<li><%= link_to "Dashboard", carrier_dash_path %></li>
			<li><%= link_to "Profile", current_carrier %></li>
		<% elsif shipper_signed_in? %>
			<li><%= link_to "Dashboard", shipper_dash_path %></li>
			<li><%= link_to "Profile", current_shipper %></li>
			<li><%= link_to "Request Wizard", step1_wizard_path %></li>
		<% elsif admin_signed_in? %>
			<li><%= link_to "Dashboard", admin_dash_path %></li>
			<li><%= link_to "Boss", rails_admin_path %></li>
			<li><%= link_to "Profile", current_admin %></li>
			<li><%= link_to "Request Wizard", step1_wizard_path %></li>
		<% elsif driver_signed_in? %>
			<li><%= link_to "Profile", current_driver %></li>
		<% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
		<% if admin_signed_in? %>
			<li><%= link_to "Logout", destroy_admin_session_path, :method => :delete %></li>
		<% elsif carrier_signed_in? %>
			<li><%= link_to "Logout", destroy_carrier_session_path, :method => :delete %></li>
		<% elsif shipper_signed_in? %>
			<li><%= link_to "Logout", destroy_shipper_session_path, :method => :delete %></li>
		<% elsif driver_signed_in? %>
			<li><%= link_to "Logout", destroy_driver_session_path, :method => :delete %></li>
		<% end %>
    </ul>
  </div>
</div>